
@import "../variables";
@import "../fonts/fonts.scss";
.page-user {

    section {
        padding:10px;
    }

    .alert-warning {
        color:red;
        font-weight:600;
        padding-top:10px;
    }

    .alert-success {
        color: $green;
        font-weight:600;
        padding-top:10px;
    }

    label {
        font-weight:600;
       
    }

    input {
        margin-top:10px;
    }
}