
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black:#292929;
$green: #58c93a;
$graylight: #f8f8f8;
$graytext: #adacac;
