@font-face {
    font-family: 'Calibrepro';
    font-weight:400;
    src:url('../fonts/CalibreRegular.otf');
}

@font-face {
    font-family: 'Calibrepro';
    font-weight:500;
    src:url('../fonts/CalibreSemibold.otf');
}