.page-about{
    

    #container-about {
        text-align:center;
        padding-top:30px;
        img {
            width:300px;
            height:300px;
           
        }
    }
    h1 {
        text-align:center;
        
    }

    .h3 {
        margin-top:10px;
        text-align:center;
        border-bottom:1px solid gray;
        padding-bottom:10px;
    }
}